NodeFlow/mosquitto_sub_pub.json
[{"id":"4c0267d2.bafa38","type":"tab","label":"MQTT Test","disabled":false,"info":""},{"id":"349b406b.36608","type":"exec","z":"4c0267d2.bafa38","command":"python3 new.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":330,"y":160,"wires":[["789c6917.d36128"],[],[]]},{"id":"6056efc7.60d99","type":"inject","z":"4c0267d2.bafa38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["349b406b.36608"]]},{"id":"789c6917.d36128","type":"debug","z":"4c0267d2.bafa38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":80,"wires":[]},{"id":"86dfc4ba.3994a8","type":"mqtt in","z":"4c0267d2.bafa38","name":"","topic":"MapaDCC","qos":"2","datatype":"utf8","broker":"4a0d733a.f5172c","x":210,"y":340,"wires":[["36da8732.a54648"]]},{"id":"36da8732.a54648","type":"function","z":"4c0267d2.bafa38","name":"Informa sala","func":"var receivedData = JSON.parse(msg.payload);\nvar localReuniao = \"100\";\n\n\nif (receivedData[0].room_number == localReuniao) {\n    msg.payload = \"a reuniao sera na sala do\" + receivedData[0].prof_name;\n    return msg;\n} else if (receivedData[1].room_number == localReuniao) {\n    msg.payload = \"a reuniao sera na sala do\" + receivedData[0].prof_name;\n    return msg;\n} else if (receivedData[2].room_number == localReuniao) {\n    msg.payload = \"a reuniao sera na sala do\" + receivedData[0].prof_name;\n    return msg;\n} else if (receivedData[1].room_number == localReuniao) {\n    msg.payload = \"a reuniao sera na sala do\" + receivedData[0].prof_name;\n    return msg;\n} else {\n    msg.payload = \"local da reuniao infedinido\";\n    return msg;\n    \n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["66bca966.a06d68"]]},{"id":"66bca966.a06d68","type":"mqtt out","z":"4c0267d2.bafa38","name":"","topic":"Sala","qos":"2","retain":"","broker":"4a0d733a.f5172c","x":610,"y":340,"wires":[]},{"id":"4a0d733a.f5172c","type":"mqtt-broker","z":"","name":"Teste","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]